/* Shared style */
/* work san google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Victor+Mono:wght@100&family=Work+Sans:wght@400;600;700&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
}

.btn {
    background-color: #FF900E;
    color: #FFF;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
}

header .btn {
    margin: 20px;
}

/* main {
    padding: 20px 240px;
    margin: auto;
} */

/* header style */
header {
    padding: 20px 240px;
    background: rgba(255, 144, 14, 0.10);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-container img {
    width: 100%;
}


.nav-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

nav ul {
    display: flex;
    list-style: none;
}

ul li a {
    text-decoration: none;
    list-style: none;
    margin-right: 30px;
    color: #424242;
    font-weight: 500;
    font-size: 18px;
}

/* banner style */
.banner-content {
    width: 862px;
    text-align: center;
}


.banner-title {
    font-weight: 700;
    font-size: 4rem;
    color: #131313;
}

.banner-description {
    color: #727272;
}

/* team style */
.team-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 240px;
}

.team-img-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 50%;
}

.team-img-content img {
    width: 100%;
}

.team-img-content,
.team-text-content {
    width: 50%;
}

.team-text-content {
    margin-left: 73px;
    width: 50%;
}

.quick {
    color: #727272;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 500;
}

.our {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    line-height: normal;
}

.feature {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}


/* Facts section style */

.fact-container {
    padding: 20px 240px;
}

.cart-title {
    font-size: 2.8rem;
    font-weight: 600;
    color: #424242;
    margin-bottom: 10px;
    margin-top: 10px;
}

.fact-title {
    font-weight: 700;
    font-size: 3rem;
    color: #131313;
    margin-bottom: 24px;
}

.facts-description {
    color: #727272;
}

.fact-content {
    width: 50%;
}

.fact-cart-container {
    display: flex;
    justify-content: space-around;
}


.cart {
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 30px;
}

.cart-des {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* sponsors style */

.sponsors-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sponsors-text {
    text-align: center;
    padding: 0px 406px;
}

.soponsor-img-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 220px;
    margin: 20px;
    margin-top: 10px;
}

/* features style */
.features-container {
    padding: 20px 100px;

}

.feature-parent {
    display: flex;
    gap: 146px;
    align-items: center;
    justify-content: center;
}

.feature-parent img {
    width: 100%;
    height: 500px;
}

.feature-child div {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.feature-child{
    width: 50%;
}

.feature-img{
    width: 50%;
}

.feature-img img{
    width: 500px;
    height: fit-content;
    margin-top: 250px;
}

.fact-title{
    border-left: 5px solid #FF900E;
    padding-left: 5px;
}

/* responsive media query */
@media screen and (max-width: 576px) {
    header {
        padding: 10px;
    }

    .team-container,
    .feature-parent,
    .soponsor-img-container {
        flex-direction: column;
        padding: 0px;
    }

    .feature-img img{
        width: 100%;
        margin-top: 0px;
    }

    /* .feature-img img{
        width: 0px;
        height: fit-content;
        margin-top: 0px;
    } */

    .feature-child div{
        padding: 10px;
        width: auto;
    }
    .features-container{
        padding: 0px 0px;
    }

    .soponsor-img-container img {
        margin: 20px;
        padding: 0px;
        width: auto;
    }

    .sponsors-text {
        text-align: center;
        padding: 0px 0px;
    }

    .fact-cart-container {
        flex-direction: column;
        padding: 10px;
    }

    .cart {
        margin-top: 15px;
    }

    .fact-container {
        padding: 0px 0px;
    }

    .fact-content {
        width: 100%;
    }

    .team-img-content {
        flex-direction: column;
        width: auto;
    }

    .team-text-content {
        width: 100%;
        margin-right: 73px;
    }

    nav {
        flex-direction: column;
        padding: 0px 20px;
    }

    .banner-content {
        padding: 0;
        width: min-content;
    }

    .team-img-content {
        display: flex;
        flex-direction: column;
    }

}

@media screen and (min-width: 577px) and (max-width: 992px) {
    header {
        padding: 50px
    }

    nav,
    .soponsor-img-container {
        flex-direction: column;
    }

    .banner-content {
        padding: 0;
        width: auto;
    }
}